.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  //Order of args: flex-grow, flex-shrink, flex-basis
  flex: 0 0 18%;
  //takes up 18% of it's container
}

.hotel-view{
  background-color: #fff;
  background-color: orangered;
  flex: 1;
  //take up the remaining portion of its flex-container
}